<div>
  <h1>{{ title }}</h1>
</div>

<button class="btn btn-primary ml-5" (click)="showConfig()">
  Get Football Response
</button>

<div class="container">
  <ul class="list-group">
    <li
      *ngFor="let competitions of footballData; let c = index"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      {{ competitions.name }}
      <ng-container *ngFor="let id of availableID">
        <button
          *ngIf="competitions.id == id"
          class="badge badge-primary badge-pill"
          (click)="showMatches(competitions.id)"
        >
          Get Matches
        </button>
        <span *ngIf="competitions.id == id">
          Matches : {{ matchesData | json }}
        </span>
      </ng-container>
    </li>
  </ul>
</div>

<!-- <p>{{ footballData | json }}</p> -->
<router-outlet></router-outlet>
